/* Contact component Styling */
.contactstyle {
    background: linear-gradient(45deg, rgba(128, 255, 204), rgba(153, 204, 255));
    overflow-y: auto;
}

.contacttitle {
    color: #333333;
    font-family: 'Fugaz One', cursive;
    font-size: 3rem;
    width: max-content;
    padding: 0.2rem;
}

.mailsection {
    padding: 2rem;
}

.dosisFont {
    font-family: 'Dosis', cursive;
}

.contactgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-items: center;
}

.contactgrid a {
    text-decoration: none;
    font-size: 5rem;
    padding: 0.5rem;
    color: #333333;
}

.iconLinkedin:hover {
    color: #007acc;
}

.iconGithub:hover {
    color: #9900ff;
}

@media only screen and (max-width: 31.25em) {
    .contacttitle {
        font-size: 1.8em;
    }

    .contactgrid a {
        font-size: 3em;
    }

    .clickToMailButton {
        font-size: 1.5em;
        padding: 0.25em 0.3em;
    }

    .clickToMailButton:hover {
        background-color: rgba(100,100,100,0.5);
        padding: 0.4em 0.8em;
    }
}

@media only screen and (max-width: 26em) {
    .contacttitle {
        font-size: 1.5em;
    }

    .contactgrid a {
        font-size: 3em;
    }

    .clickToMailButton {
        font-size: 1.3em;
        padding: 0.25em 0.3em;
    }

    .clickToMailButton:hover {
        background-color: rgba(100,100,100,0.5);
        padding: 0.3em 0.7em;
    }
}