.navbarstyle {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    background: #fff;
    height: 3.75rem;
    z-index: 10;
}

.navlist {
    position: absolute;
    margin-top: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.2rem;
    list-style: none;
    font-size: 1.3rem;
}

.navlist li {
    padding: 0 0.5rem;
}

.navlist a {
    text-decoration: none;
    color: lightslategray;
    font-family: 'Fugaz One', cursive;
}

.navlist a:hover {
    color: black;
}

.push {
    margin-left: auto;
}

@media screen and (max-width: 31.25em) {
    .navlist li > a {
        font-size: 1em;
    }

    .navlist li {
        padding: 0 0.3em;
    }
}

@media screen and (max-width: 26em) {
    .navlist li > a {
        font-size: 0.8em;
    }

    .navlist li {
        padding: 0 0.2em;
    }
}

