.toolsstyle {
    overflow-y: auto;
}

.toolstitle {
    color: #333333;
    font-family: 'Fugaz One', cursive;
    font-size: 3rem;
    padding: 0.2rem;
    width: max-content;
}

.toolsgrid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(3rem, 1fr));
    grid-gap: 2rem;
    padding: 1.5rem;
    height: 85%;
}

.icon {
    font-size: 5rem;
    padding: 1rem;
    color: #333333;
}

.iconHtml5:hover {
    color: #E34C26;
}

.iconCss3:hover {
    color: #1a53ff;
}

.iconJs:hover {
    color: #f7df1e;
}

.iconNode:hover {
    color: #33cc33;
}

.iconReact:hover {
    color: #00d8ff;
}

.iconBootstrap:hover {
    color: #551A8B;
}

.iconGit:hover {
    color: #e24329;
}

.iconGithub:hover {
    color: #9900ff;
}

.iconPostgresql:hover {
    color: #008bb9;
}

.iconSql:hover {
    color: #00bfff;
}

.iconHeroku:hover {
    color: #8533ff;
}

.iconNpm:hover {
    color: #cb3837;
}

@media only screen and (max-width: 31.25em) {
    .icon {
        font-size: 3em;
    }

    .toolstitle {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 26em) {
    .toolsgrid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, minmax(3em, 1fr));
        grid-gap: 1.8em;
        padding: 1.2em;
        height: 85%;
    }
    
    .icon {
        font-size: 2.5em;
    }

    .toolstitle {
        font-size: 1.5em;
    }
}